git+https://github.com/tegin/medical-fhir.git@13.0#subdirectory=setup
git+https://github.com/forgeflow/multicompany-fixes.git@13.0#subdirectory=setup
git+https://github.com/tegin/archive-management.git@13.0#subdirectory=setup
git+https://github.com/OCA/edi.git@refs/pull/433/merge#subdirectory=setup/edi_pdf2data
