.oe_flag_box {

    .flag-muted {
      color: #777;
    }

    .flag-primary {
      color: #7349fe;
    }

    .flag-success {
      color: #3c763d;
    }

    .flag-info {
      color: #31708f;
    }

    .flag-warning {
      color: #8a6d3b;
    }

    .flag-danger {
      color: #a94442;
    }

    .flag-light {
      color: #EEE;
    }

    text-align: left;

    .btn:hover, .btn:focus, .btn.focus{
        color: #333;
    }

    .flag {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        background-image: none;
        border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .oe_stat_button {
        vertical-align: middle;
        text-align: left;
        width: 40px !important;
        height: 40px;
        margin: 0px -1px -1px 0px;
        padding: 0;
        border-radius: 0;
        border-color: #ccc;
        background: white;
        outline: none;

        &.emptyflag {
            border-color: #ccc0;
            background: #ccc0;
        }

        .o_button_icon {
            display: inline-block;
            width: 37px;
            padding: 7px 3px;
            text-align: center;
            vertical-align: middle;
            font-size: 24px;
        }

        // Some buttons only display text without using StatInfo template
        .o_stat_info, > span { // contains the value and text
            display: inline-block;
            vertical-align: middle;
            max-width: 70%;
            line-height: 1.2;

            .o_stat_value {
                @include o-text-overflow(block);
                font-weight: 700;
            }
            .o_stat_text {
                @include o-text-overflow(block);
                font-size: small;

                .o_stat_value {
                    display: inline;
                }
            }
        }
        > span {
            font-size: small;
            vertical-align: middle;
            white-space: normal; // text on several lines if needed
        }

        > div {
            text-align: left;
            padding: 0;
            vertical-align: middle;
        }
    }
    &.o_full {
        position: relative;
        .o_button_more {
            padding: 0 10px;
        }
        .o_dropdown_more {
            @include o-position-absolute($top: 100%, $right: 0);
            min-width: 0;
            padding: 0px;
        }
    }
}
