.o_agreement_layout {
    h1,
    h2,
    h3 {
        text-align: center;
    }
    .section_tbody {
        h1,
        h2,
        h3 {
            text-align: left;
        }
    }
    .clauses {
        list-style-type: upper-roman;
    }
    .sections {
        font-size: 20px;
        font-weight: bold;
    }
    td {
        border: none;
    }
}
